.header {
    text-align:center;
    background-color: #111b49;

    img {
        padding: 20px;
    }
}

.content {
    padding: 20px;

    .buscador {
        padding: 20px 0px;

        input {
            width: 100%;
            border: 1px solid #111c49;
            border-radius: 2px;
            padding: 5px 10px;
        }
    }
}

div.content-coin {
        border: 1px solid #dddddd;
        padding: 20px 30px;
        box-shadow: 2px 2px #eeeeee;
        margin-bottom: 50px;

    span {
        font-weight: 600;
    }

    .cambio-moneda {
        float: right;
    }

    canvas{
        max-height: 600px;
        max-width: 600px;
        margin: auto;
    }
}

tr.fila {
    cursor: pointer;
}