<div class="header">
  <img width="300" alt="Logo Finametrix" src="./assets/images/finametrix.png">
</div>

<div class="content">
    <div class="buscador col-md-6"><input #filtro type="text" placeholder="Buscar por nombre" (input)="buscador(filtro.value)"></div>
    <table class="table table-hover table-bordered" >
        <thead>
          <tr>
            <th>Criptomoneda </th>
            <th>Market Cap (USD) <i class="fa fa-sort" aria-hidden="true" (click)="ordenar('market')"></i></th>
            <th>Precio de cierre ({{divisa}}) <i class="fa fa-sort" aria-hidden="true"  (click)="ordenar('close')"></i></th>
            <th>Volumen <i class="fa fa-sort" aria-hidden="true"  (click)="ordenar('volume')"></i></th>
          </tr>
        </thead>
        <tbody>
          <tr class="fila" *ngFor="let m of datos_filtro"  (click)="mostrarDatos(m['Meta Data']['3. Digital Currency Name'])">
            <td >{{m["Meta Data"]["2. Digital Currency Code"]}} </td>
            <td>{{m["Day"]["6. market cap (USD)"]}}</td>
            <td>{{m["Day"]["4a. close (EUR)"]}}</td>
            <td>{{m["Day"]["5. volume"]}}</td>
          </tr>
        </tbody>
      </table>
      <div *ngFor="let m of datos">
        <ng-container *ngIf="click_moneda == m['Meta Data']['3. Digital Currency Name']">
          <div class="content-coin">
          <p class="cambio-moneda"><span (click)="cambiarDivisa('EUR')">EUR</span> | <span (click)="cambiarDivisa('USD')">USD</span></p>
          <p><span>Nombre de la criptomoneda</span> {{m["Meta Data"]["3. Digital Currency Name"]}}</p>
          <p><span>Divisa</span> {{m["Meta Data"]["5. Market Name"]}}</p>
          <p><span>Fecha de la última actualización</span> {{m["Meta Data"]["6. Last Refreshed"]}}</p>
          <p><span>Gráfica</span>
            </p>
            <div style="display: block;">
                <canvas baseChart width="400" height="400"
                            [datasets]= m.lineChartData
                            [labels]="m.lineChartLabels"
                            [options]="lineChartOptions"
                            [colors]="lineChartColors"
                            [legend]="lineChartLegend"
                            [chartType]="lineChartType"
                            (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)"></canvas>
            </div>
          </div>
          </ng-container>
    </div>
</div>

<router-outlet></router-outlet>
